@model LKmaytinh.Models.SanPham
@{
    ViewBag.Title = "Themspmoi";
    Layout = "~/Views/LayOut/AdminLayout.cshtml";
}

<h2>Thêm Sản Phẩm Mới</h2>
@using (Html.BeginForm("Themspmoi", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.TenSP,new { @class="control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenSP)
                @Html.ValidationMessageFor(model => model.TenSP)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Gia, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Gia)
                @Html.ValidationMessageFor(model => model.Gia)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Mota, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <textarea name="Mota">Thông Tin Sản Phẩm</textarea>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Anhbia, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="fileUpload" />
               
                @ViewBag.Thongbao
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ngaycapnhat, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="date" name="Ngaycapnhat" />
                @Html.ValidationMessageFor(model => model.Ngaycapnhat)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Maloai, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Maloai")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaNSX, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MaNSX")
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="THÊM MỚI" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("SanPham", "Admin")
</div>

